@import "tailwindcss";

@theme {
  --color-background: #0C0C0C; /*chinese-black in current theme */
  --color-secondary-surface: #292C2F; /*bunker-grey in current theme */
  --color-tertiary-surface: #30302E; /*black-wool in current theme */
  --color-white-smoke: #F5F5F5; /*white-smoke in current theme */
  --color-system-red: #B42715; /*signal-red in current theme */
  --color-default-text: #E6E6DF; /*pure-white in current theme */
  --color-default-border: #989892 /*bunker-grey in current theme */

  --font-staatliches: var(--font-staatliches);
  --font-ibm-plex: var(--font-ibm-plex-sans);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-default-text);
    font-family: var(--font-ibm-plex-sans), sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-staatliches), sans-serif;
    text-transform: uppercase;
  }
}

@layer components {
  .icon-white-smoke {
    filter: invert(92%) sepia(10%) brightness(100);
  }
}
